<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="demoproject.caleb.umbc.android_bootcamp_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Chapter_1.HelloWorldApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>
        <activity android:name=".Chapter_1.Tech_Quotes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>
        <activity android:name=".Chapter_1.Dessert_Names">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>
        <activity android:name=".Chapter_1.Large_Tech_Companies">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>
        <activity android:name=".Chapter_2.BruschettaMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>
        <activity android:name=".Chapter_2.BruschettaRecipe">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>
        <activity android:name=".Chapter_2.Youth_Hostel_App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>
        <activity android:name="Chapter_2.Information_Page">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>
        <activity android:name=".Chapter_2.SegwayMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>
        <activity android:name=".Chapter_2.SegwayOther">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>
        <activity android:name=".Chapter_3.ConcertTicket">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>
        <activity android:name=".Chapter_3.TriathlonRegistration">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>
        <activity android:name=".Chapter_3.BoatExpress">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>
        <activity android:name=".Chapter_4.MedicalCalculator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>
        <activity android:name=".Chapter_4.CarWash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>
        <activity android:name=".Chapter_4.PhotoPrint">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>
        <activity android:name=".Chapter_5.CityGuide.CityGuide">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>
        <activity
            android:name=".Chapter_5.CityGuide.Willis"
            android:label="@string/ch5_city_title_ch5_city_willis" />
        <activity
            android:name=".Chapter_5.CityGuide.Pier"
            android:label="@string/ch5_city_title_ch5_city_pier" />
        <activity
            android:name=".Chapter_5.CityGuide.Water"
            android:label="@string/ch5_city_title_ch5_city_water" />
        <activity android:name=".Chapter_5.BikeRental.BikeRental">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>
        <activity
            android:name=".Chapter_5.BikeRental.Mountain"
            android:label="@string/ch5_bike_title_mountain" />
        <activity
            android:name=".Chapter_5.BikeRental.Beach"
            android:label="@string/ch5_bike_title_beach" />
        <activity android:name=".Chapter_5.ChocolateCafe.ChocolateCafe">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

            </intent-filter>
        </activity>
        <activity android:name=".Chapter_5.ChocolateCafe.Mousse" />
        <activity android:name=".Chapter_5.ChocolateCafe.Cake" />
        <activity android:name=".Chapter_5.ChocolateCafe.Macaron" />
        <activity android:name=".Chapter_6.AlohaMusic">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Chapter_6.AlohaMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Chapter_6.CelticMusic">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Chapter_6.CelticSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Chapter_6.FarmSounds">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Chapter_6.FarmAnimalSoundsSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Chapter_10.FacialExpressions.FacialExpressions" />
        <activity android:name=".Chapter_10.GolfStroke.GolfStroke" />
        <activity android:name=".Chapter_10.NorthernLightsAnimation.NorthernLightsAnimation" />
        <activity android:name=".Chapter_10.Chapter10">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Chapter_2.Information_Page" />
        <activity android:name=".Chapter_1.Chapter1" />
        <activity android:name=".Chapter_2.Chapter2" />
        <activity android:name=".Chapter_3.Chapter3" />
        <activity android:name=".Chapter_4.Chapter4" />
        <activity android:name=".Chapter_5.Chapter5" />
        <activity android:name=".Chapter_6.Chapter6" />
        <activity android:name=".Chapter_7.Chapter7" />
        <activity android:name=".Chapter_8.Chapter8" />
        <activity android:name=".Chapter_9.Chapter9" />
        <activity android:name=".Chapter_11.Chapter11" />

        <activity
            android:name=".Chapter_10.NorthernLightsAnimation.Tween"
            android:label="@string/title_activity_tween" />
        <activity
            android:name=".Chapter_10.GolfStroke.GolfTween"
            android:label="@string/title_activity_golf_tween" />
        <activity
            android:name=".Chapter_7.EndangeredSpecies"
            android:label="@string/title_activity_endangered_species" />
        <activity
            android:name=".Chapter_7.CarDealership"
            android:label="@string/title_activity_car_dealership" />
        <activity
            android:name=".Chapter_7.SevenWonders"
            android:label="@string/title_activity_seven_wonders"></activity>
        <activity android:name=".Chapter_11.ElectricCar" />
        <activity android:name=".Chapter_11.Payment" />
        <activity android:name=".Chapter_11.BMICalculator" />
        <activity android:name=".Chapter_11.BMIOutput" />
        <activity android:name=".Chapter_11.InterestCalculator" />
        <activity android:name=".Chapter_11.InterestPayment"></activity>
        <activity android:name=".Chapter_12.Chapter12"></activity>
    </application>

</manifest>